/A_IsANumberPrime_1.class
/B_PrintAllPrimesTillN_2.class
/C_PrintAllFibTillN_3.class
/D_CountDigitsInANumber_4.class
/E_DisplayDigitOfANumber_5.class
/F_ReverseOfANumber_6.class
/G_AllProgramsCombines.class
/PrintZ.class
